<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
  <div class="container">
    <div class="col-md-offset-1 col-md-6 col-sm-12" id="log">
      <br />
      <br />
      <br />
      <div class="entry-formRate">
        <form action="" id="userRegister-entry-form">
          <div class="m-2">
            <h2>Observar oficina</h2>
            <div class="mt-4">
              <div class="d-flex justify-content-around">
                <div>
                    <label for="office_name">Nombre</label>
                  <input
                    [(ngModel)]="officeDataDelete.TC_Nombre"
                    type="text"
                    autocomplete="off"
                    name="office_name"
                    id="office_name"
                    class="form-control rounded-left"
                    placeholder="Nombre"
                    required=""
                    disabled
                  />
                </div>
                <div>
                    <label for="office_code">Codigo</label>
                  <input
                    [(ngModel)]="officeDataDelete.TC_CodigoOficina"
                    type="text"
                    autocomplete="off"
                    name="office_code"
                    id="office_code"
                    class="form-control rounded-left"
                    placeholder="Codigo"
                    required=""
                    disabled
                  />
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                    <label for="office_institution">Institucion</label>
                  <input
                    [(ngModel)]="officeDataDelete.TC_Institucion"
                    type="text"
                    autocomplete="off"
                    name="office_institution"
                    id="office_institution"
                    class="form-control rounded-left"
                    placeholder="Institucion"
                    required=""
                    disabled=""
                  />
                </div>
              </div>
              <button routerLink="/officeList" class="submit-btn form-control">
                Volver
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="example-button-container"></div>
</section>
