<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
  <div class="container">
    <div class="col-md-offset-1 col-md-6 col-sm-12" id="log">
      <br />
      <br />
      <br />
      <div class="entry-formRate">
        <form action="" id="userRegister-entry-form">
          <div class="m-2">
            <h2>Registra controles</h2>
            <div class="mt-4">
                <div class="d-flex justify-content-around">
             <div>
                <label for="name">Nombre</label>
              <input
                [(ngModel)]="controlData.TC_Nombre"
                type="text"
                autocomplete="off"
                name="name"
                id="name"
                class="form-control rounded-left"
                placeholder="Nombre"
                required=""
              />
             </div>
             <div>
                <label for="Descripcion">Descripcion</label>
              <input
                [(ngModel)]="controlData.TC_DescriptionDocumentacionEvidencia"
                type="text"
                autocomplete="off"
                name="Descripcion"
                id="Descripcion"
                class="form-control rounded-left"
                placeholder="Descripcion"
                required=""
              />
            </div>
             </div>
              <div class="radio">          
                <br />
<label class="notificaci" for="yes">Notificacion al Correo</label><label  class="notificaci" for="no">Correo?</label>
                <br />
                <input
                  [(ngModel)]="controlData.TB_NotificacionCorreoAColaborador"
                  label="Si"
                  type="radio"
                  id="yes"
                  name="notification"
                  value="si"
                  checked
                />
                <input
                  [(ngModel)]="controlData.TB_NotificacionCorreoAColaborador"
                  label="No"
                  type="radio"
                  id="no"
                  name="notification2"
                  value="no"
                  checked
                />
              </div>
              <div class="d-flex justify-content-around">
              <button class="submit-btn form-control" (click)="add()">
                Añadir
              </button>

              <button (click)="back()" class="submit-btn form-control">
                Cancelar
              </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="example-button-container"></div>
</section>
