<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form action="" id="userRegister-entry-form">
                    <h2>Registra</h2>
                    <input   type="text"  hidden>

                    <input   type="text" autocomplete="off" name="identification_Admin" id="identification_Admin" class="form-control rounded-left" placeholder="Identificacion" required="">

                    <input  type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Nombre" required="">

                    <input  type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" placeholder="Primer apellido" required="">

                    <input  type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" placeholder="Segundo apellido" required="">

                    <input  type="email" autocomplete="off" name="email_Admin" id="email_Admin" class="form-control rounded-left" placeholder="Correo electronico" required="">

                    <input  type="password" autocomplete="off" name="password_Admin" id="password_Admin" class="form-control rounded-left" placeholder="Contraseña" required="">

                    <select   class="form-control rounded-left" name="role_Admin" id="role_Admin2">
                        <option value=0 selected>Seleciona tu oficina</option>            
                    </select>
                    

                    <select   class="form-control rounded-left" name="role_Admin" id="role_Admin">
                        <option value=0 selected>Seleciona un rol</option>
                       
                    </select>

                    <button class="submit-btn form-control" >Añadir</button>

                    <button routerLink="/listUser" class="submit-btn form-control" >Cancelar</button>
                </form>

            </div>
        </div>
        
    </div>
    <div class="example-button-container">
      
        </div>
</section>

