<app-navbar></app-navbar>

<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <div class="container">
      <div class="text-center">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Busqueda</mat-label>
          <input matInput placeholder="Ingresa datos" (keyup)="applyFilter($event)" />
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Seleciona la oficina</ng-template>
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef><b> Nombre</b></th>
              <td mat-cell *matCellDef="let element">
                {{ element.TC_Nombre }}
              </td>
            </ng-container>

            <!-- code Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef><b> Codigo</b></th>
              <td mat-cell *matCellDef="let element">
                {{ element.TC_CodigoOficina }}
              </td>
            </ng-container>

            <!-- institution Column -->
            <ng-container matColumnDef="institution">
              <th mat-header-cell *matHeaderCellDef class="pintar">
                <b> Institucion </b>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.TC_Institucion }}
              </td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef><b>Action</b></th>
              <td mat-cell *matCellDef="let element">
                <div class="example-button-row">
                  <div class="example-button-container">
                    <button mat-fab color="primary" mat-button matStepperNext
                      aria-label="Example icon button with a delete icon"
                      (click)="darOfice(element.ID, element.TC_Nombre)">
                      <mat-icon>book</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </form>
      </div>
      <div>
        <button mat-button (click)="back();">Regresar</button>
      </div>

      <div></div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Agregar de controles</ng-template>
    <!-- Controles       -->
    <br />
    <br />
    <div class="d-flex justify-content-around mb-1">
      <div class="tableControls">
        <div class="mat-elevation-z8">
          <input class="nameOffice" [(ngModel)]="name.indication" disabled />

          <table mat-table [dataSource]="dataSourceControl">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef><b> Nombre</b></th>
              <td mat-cell *matCellDef="let element">{{ element.TC_Nombre }}</td>
            </ng-container>

            <!-- Descripcion Column -->
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef><b> Descripcion</b></th>
              <td mat-cell *matCellDef="let element">
                {{ element.TC_DescriptionDocumentacionEvidencia }}
              </td>
            </ng-container>
            <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef><b>Seleccione el control</b></th>
              <td mat-cell *matCellDef="let element">
                <div class="example-button-row">
                  <div class="example-button-container">
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                      (click)="dar(element.ID,element.TC_Nombre)">
                      <mat-icon>bookmark</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedxColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedxColumns"></tr>
          </table>

          <mat-paginator #paginator2="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
      <div class="tableDataControl">
        <div class="col-md-offset-6 col-md-8 col-sm-12" id="log">
          <div class="entry-formRate">
            <div>
              <label for="Id_Vehicle_Ticket">Nombre control</label>
              <input class="form-control rounded-left" matInput [(ngModel)]="form.name" id="Id_Vehicle_Ticket"
                name="Vehicle_Ticket" type="text" placeholder="Control" [disabled]="true">
            </div>

            <select [(ngModel)]="officeControl.FK_TN_PERIODO_SISCOA_OficinaControl" class="form-control rounded-left"
              name="period" id="period">
              <option value=0 selected>Periodo</option>
              <option [value]="s.ID" *ngFor="let s of dataPeriod">{{s.TC_Nombre}}</option>

            </select>

            <button class="submit-btn" (click)="addControlOffice()">
              Agregar control a oficina
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--       Controles de la oficina                  -->
    <div class="tableControlsOffice">
      <div *ngIf="name" class="mat-elevation-z8">
        <input class="nameOffice" [(ngModel)]="name.nameOff" disabled />
        <table mat-table [dataSource]="dataSourceControlOffice">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><b> Nombre</b></th>
            <td mat-cell *matCellDef="let element">{{ element.TSISCOA_Control.TC_Nombre }}</td>
          </ng-container>

          <!-- Descripcion Column -->
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef><b> Descripcion</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.TSISCOA_Control.TC_DescriptionDocumentacionEvidencia }}
            </td>
          </ng-container>

          <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef><b>Periodo</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.TSISCOA_Periodo.TC_Nombre }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef><b>Estado</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.TSISCOA_Estado.TC_Nombre }}
            </td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><b>Accion</b></th>
            <td mat-cell *matCellDef="let element">
              <div class="example-button-row">
                <div class="example-button-container">
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    routerLink="/seeControlFull/{{element.ID}}">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOfice"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOfice"></tr>
        </table>
        <mat-paginator #paginator3="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

    <div class="text-center" id="spots-reservation"></div>
    <br />
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
    </div>
  </mat-step>
</mat-stepper>