<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
  <div class="container">
    <div class="col-md-offset-1 col-md-6 col-sm-12" id="log">
      <br />
      <br />
      <br />
      <div class="entry-formRate">
        <form action="" *ngIf="controlData" id="userRegister-entry-form">
          <div class="m-2">
            <h2>Consultar control</h2>
            <div class="mt-4">
              <div class="">
                <div>
                  <label for="name">Nombre</label>
                  <input [(ngModel)]="controlData.TC_Nombre" disabled type="text" autocomplete="off" name="name"
                    id="name" class="form-control rounded-left" placeholder="Nombre" required="" />
                </div>
              </div>
              <div>
                <label for="Descripcion">Descripcion</label>
                <textarea disabled [(ngModel)]="
                    controlData.TC_DescriptionDocumentacionEvidencia
                    " type="text" autocomplete="off" name="Descripcion" id="Descripcion"
                  class="form-control rounded-left" placeholder="Descripcion" required="">
                </textarea>
              </div>
              <button routerLink="/listControl" class="submit-btn form-control">
                Volver
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="example-button-container"></div>
</section>