<app-navbar></app-navbar>
<br>

    <div class="container">
        <div class="text-center">
      
            <div class="wrapperButton">
                  <button  routerLink="/listControl" class="myB">
                    Control 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </div>
          
                <div class="wrapperButton2">
                  <button  routerLink="/" class="myB">
                    Oficina 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </div>

                <div class="wrapperButton3">
                    <button  routerLink="/listUser" class="myB">
                      Usuario 
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>

                  <div class="wrapperButton4">
                    <button  routerLink="/" class="myB">
                      Roles 
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                  <div class="wrapperButton5">
                    <button  routerLink="/" class="myB">
                      Permisos 
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                  <div class="wrapperButton6">
                    <button  routerLink="/" class="myB">
                      Periodo 
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                  <div class="wrapperButton7">
                    <button  routerLink="/" class="myB">
                      Estado 
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                  </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         
       
    
    
   