<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form action="" id="userRegister-entry-form">
                    <h2>Completa el control</h2>
                    <input   type="text"  hidden>

                    <input   type="text" autocomplete="off" name="identification_Admin" id="identification_Admin" class="form-control rounded-left" placeholder="Nombre" required="">

                    <input  type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Descripcion" required="">

                    <select   class="form-control rounded-left" name="role_Admin" id="role_Admin2">
                        <option value=0 selected>Periodo</option>            
                    </select>

                    <select   class="form-control rounded-left" name="role_Admin" id="role_Admin2">
                        <option value=0 selected>Estado</option>            
                    </select>

                    <input  type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Notificacion" required="">

                    <input  type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Comentario" required="">


                    <p class="parrafo"> Documentacion</p>
                    <input class="form-control rounded-left" type="file" name="fds" placeholder="Documento">

                    <button class="submit-btn form-control" >Completar</button>
                </form>

            </div>
        </div>
        
    </div>
    <div class="example-button-container">
      
        </div>
</section>


