
<app-navbar></app-navbar>

<mat-stepper [linear]="false" #stepper>
    
      <mat-step [stepControl]="firstFormGroup" [editable]="true">
        <form [formGroup]="firstFormGroup">

        <ng-template matStepLabel>Seleciona la oficina</ng-template>
        <table mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><b> Nombre</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.TC_Nombre}} </td>
          </ng-container>
      
          <!-- code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef><b> Codigo</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.TC_CodigoOficina}} </td>
          </ng-container>
      
        
    
       <!-- institution Column -->
       <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef  class="pintar"><b> Institucion </b>  </th>
        <td mat-cell *matCellDef="let element"> {{element.TC_Institucion}} </td>
      </ng-container>
      
          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><b>Action</b> </th>
            <td mat-cell *matCellDef="let element">   <div class="example-button-row">
                <div class="example-button-container">
                   <button (click)="dar(element.ID,element.TC_Nombre)"
                   mat-fab color="primary"  mat-button matStepperNext aria-label="Example icon button with a delete icon">
                        <mat-icon>book</mat-icon>     
                    </button>  
                   
                   
                </div>    
                 
              </div> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>

        

   
       
        </form>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Lista de controles</ng-template>

          <div class="mat-elevation-z8">  
          <input class="nameOffice" [(ngModel)]="name.nameOff"  disabled>

            <table mat-table [dataSource]="dataSourceControl">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef><b> Nombre</b></th>
                <td mat-cell *matCellDef="let element">{{ element.TC_Nombre }}</td>
              </ng-container>
      
              <!-- Descripcion Column -->
              <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef><b> Descripcion</b></th>
                <td mat-cell *matCellDef="let element">
                  {{ element.TC_DescriptionDocumentacionEvidencia }}
                </td>
              </ng-container>
      
              <!-- Period Column -->
              <ng-container matColumnDef="Period">
                <th mat-header-cell *matHeaderCellDef><b> Periodo</b></th>
                <td mat-cell *matCellDef="let element">
                  {{ element.TSISCOA_Periodo.TC_Nombre }}
                </td>
              </ng-container>
      
              <!-- status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="pintar">
                  <b> Estado </b>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.TSISCOA_Estado.TC_Nombre }}
                </td>
              </ng-container>
              <!-- role Column -->
              <ng-container matColumnDef="notification">
                <th mat-header-cell *matHeaderCellDef><b>Notificacion</b></th>
                <td mat-cell *matCellDef="let element">
                  {{ element.TB_NotificacionCorreoAColaborador }}
                </td>
              </ng-container>
              <!-- action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><b>Action</b></th>
                <td mat-cell *matCellDef="let element">
                  <div class="example-button-row">
                    <div class="example-button-container">
                      <button
                        (click)="update(element.ID)"

                        mat-fab
                        color="primary"
                        mat-button  matStepperNext
                        aria-label="Example icon button with a delete icon"
                      >
                        <mat-icon>assignment</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedxColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedxColumns"></tr>
            </table>
      
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
         
          </div>       
      </mat-step>
        <mat-step>
          <form  #formDir="ngForm">
        <ng-template matStepLabel>Actualizar control</ng-template>
        <div class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
                <br>
                <br>
                <br>
                <div class="entry-formRate">
                    <form *ngIf="controlDataupdate"  action="" id="userRegister-entry-form">
                        <h2>Actualizar</h2>
                        <input   type="text"  hidden>
    
    
                        <input  [(ngModel)]="controlDataupdate.TC_Nombre"   type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Nombre" required="">
                        
                        <select [(ngModel)]="controlDataupdate.TSISCOA_Periodo.TC_Nombre"  class="form-control rounded-left" name="name" id="Admin">
                            <option selected>Seleciona tu Periodo </option> 
                            <option [value]="s.ID" *ngFor="let s of dataSourcePeriod">{{s.TC_Nombre}}</option>
           
                        </select>

                        <input  [(ngModel)]="controlDataupdate.TC_DescriptionDocumentacionEvidencia"  type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" placeholder="Descripcion" required="">
    
    
                        <input  type="datetime-local" autocomplete="off" name="email_Admin" id="" class="form-control rounded-left" placeholder="Fecha limite" required="">
    
                        <input  type="text" autocomplete="off" name="password_Admin" id="password_Admin" class="form-control rounded-left" placeholder="Dias extras" required="">
    
                        <select [(ngModel)]="controlDataupdate.TSISCOA_Estado.TC_Nombre" class="form-control rounded-left" name="role_Admin" id="role_Admin">
                            <option selected>Seleciona tu Estado </option>            
                        </select>

                        <input  [(ngModel)]="controlDataupdate.TB_NotificacionCorreoAColaborador"  type="text" autocomplete="off" name="password_Admin" id="password_Admin" class="form-control rounded-left" placeholder="Notificacion" required="">

                        <button class="submit-btn form-control">Actualizar</button>

                    </form>
    
                </div>
            </div>
            
        </div>
        <div>
          <button mat-button matStepperPrevious>Regresar</button>
        </div>
      
    </form>
  
        
 
      
      </mat-step>
    </mat-stepper>