
<app-navbar></app-navbar>

<mat-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="true">

        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Seleciona la oficina</ng-template>
          <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="container-info-spots">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Periodo
                                </th>
                                <th>
                                    Institucion
                                </th>
                                
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr >
                      <td scope="row">Oficina Central </td>
                      <td scope="row">OC13 </td>
                      <td scope="row">Activo</td>
                      <td scope="row">OIJ </td>
                   
                      <td>      
                        <div class="example-button-row">
                        <div class="example-button-container">
                            <button mat-fab color="primary" routerLink="/updateUser"  aria-label="Example icon button with a delete icon">
                               Gestionar
                               </button>     
                        </div>    
                         
                      </div>
                    </td>

                            </tr>
                         </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
          <div>
            <button mat-button matStepperNext >Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Lista de controles</ng-template>

          <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="container-info-spots">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Periodo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Notificacion
                                </th>
                                
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr >
                      <td scope="row">Asistencia</td>
                      <td scope="row">Asistencia en la oficina </td>
                      <td scope="row">Octubre</td>
                      <td scope="row">Asignado </td>
                      <td scope="row">Si </td>
                      <td>      
                        <div class="example-button-row">
                        <div class="example-button-container">
                            <button mat-fab color="primary" routerLink="/updateUser"  aria-label="Example icon button with a delete icon">
                                <mat-icon>update</mat-icon>
                               </button>     
                            <button mat-fab color="warn" routerLink="/deleteUser" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>     
                            </button>
                        </div>    
                         
                      </div></td>

                            </tr>
                         </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
          <div  class="text-center" id="spots-reservation">
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button  matStepperNext>Next</button>
          </div>       
      </mat-step>
        <mat-step>
          <form  #formDir="ngForm">
        <ng-template matStepLabel>Actualizar control</ng-template>
        <div class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
                <br>
                <br>
                <br>
                <div class="entry-formRate">
                    <form action="" id="userRegister-entry-form">
                        <h2>Actualizar</h2>
                        <input   type="text"  hidden>
    
    
                        <input  type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Nombre" required="">
                        
                        <select   class="form-control rounded-left" name="role_Admin" id="role_Admin2">
                            <option value=0 selected>Seleciona tu Periodo </option>            
                        </select>

                        <input  type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" placeholder="Descripcion" required="">
    
    
                        <input  type="datetime-local" autocomplete="off" name="email_Admin" id="email_Admin" class="form-control rounded-left" placeholder="Fecha limite" required="">
    
                        <input  type="text" autocomplete="off" name="password_Admin" id="password_Admin" class="form-control rounded-left" placeholder="Dias extras" required="">
    
                        <select   class="form-control rounded-left" name="role_Admin" id="role_Admin2">
                            <option value=0 selected>Seleciona tu Estado </option>            
                        </select>
                        <input  type="text" autocomplete="off" name="password_Admin" id="password_Admin" class="form-control rounded-left" placeholder="Notificacion" required="">

                        <button class="submit-btn form-control">Actualizar</button>

                    </form>
    
                </div>
            </div>
            
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Buy</button>
        </div>
      
    </form>
  
        
 
      
      </mat-step>
    </mat-stepper>