<app-navbar> </app-navbar>
 
  <div mat-elevation-z8 class="grafico4">
        
         
    <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="dataWithDay"
      [gradient]="gradient"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
    </ngx-charts-advanced-pie-chart>
    <div class="wrapperButton2">
      <button  routerLink="/extraDay" class="myB">
        Controles que se le asignaron dias extras
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    </div> 



    <div class="grafico3">
  
   
      



      </div>
      
      



    
    <div class="grafico1">
<ngx-charts-advanced-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="dataWithSlopes"
  [gradient]="gradient"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-advanced-pie-chart>
<div class="wrapperButton3">
  <button routerLink="/controlBySlope"  class="myB">
    Controles pendiente por mes
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="grafico2">
<ngx-charts-advanced-pie-chart
[view]="view"
[scheme]="colorScheme"
[results]="datosprueba"
[gradient]="gradient"
(select)="onSelect($event)"
(activate)="onActivate($event)"
(deactivate)="onDeactivate($event)"
>
</ngx-charts-advanced-pie-chart>
<div class="wrapperButton5">
<button  class="myB">
  Controles por estado
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
</div>

</div>









    
  
