<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form action="" id="userRegister-entry-form">
                    <h2>Actualizar rol</h2>

                    <input [(ngModel)]="roleDataupdate.TC_Nombre" type="text" autocomplete="off" name="name_role" id="name_role" class="form-control rounded-left" placeholder="Nombre" required="">

                    <select [(ngModel)]="num" type="number"   class="form-control rounded-left" name="pegriod" id="pergiod">
                        <option value=0 selected>Permiso</option>   
                        <option [value]="s.ID" *ngFor="let s of dataPermision">{{s.TC_Nombre}}</option>
                  
                    </select>

                    <button class="submit-btn form-control" (click)="update()">Actualizar</button>

                    <button (click)="back()" class="submit-btn form-control" >Cancelar</button>
                    
                </form>

            </div>
        </div>
        
    </div>
    <div class="example-button-container">
      
        </div>
</section>
