
<app-navbar-login></app-navbar-login>  
<div class="text-center">


            <section class="page-section" id="ParkingLots">
                <div class="container">
                    <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
                        <img class="img-fluid" src="assets/logo.png" alt="..." />
            
                            <div class="margin" >                             
                           
                                <form [formGroup]="loginForm" (ngSubmit)="logIn()" #formDir="ngForm" id="user-form" class="login-form">
                                    <div class="form-group">
        
                                        <input formControlName="TC_Identificacion" type="text" autocomplete="off" name="emailLogin" id="emailLogin" class="form-control rounded-left" placeholder="Identificacion" required="true">
        
                                        <input formControlName="TV_Contrasenna" type="password" autocomplete="off" name="passwordLogin" id="passwordLogin" class="form-control rounded-left" placeholder="Password" required="true">
        
                                        <button class="form-control btn btn-primary rounded submit px-3" type="submit">Log In</button>
                                    </div>
                                </form>

                            </div>        
                    
                    </div>
                </div>
            </section>

        </div>