
<app-navbar></app-navbar>
<div class="text-center">


            <section class="page-section" id="ParkingLots">
                <div class="container">
                    <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
                        <img class="img-fluid" src="assets/logo.png" alt="..." />
            
                            <div class="margin" >
                                <br>
                      
                                
                                 
                                    
                                        <div class="form-group">
            
                                            <input formControlName="email" type="email" autocomplete="off" name="emailLogin" id="emailLogin" class="form-control rounded-left" placeholder="Usuario" required="true">
            
                                            <input formControlName="password" type="password" autocomplete="off" name="passwordLogin" id="passwordLogin" class="form-control rounded-left" placeholder="Contraseña" required="true">
            
                                            <button class="form-control btn btn-primary rounded submit px-3" type="submit">Ingresar</button>
                                        </div>
                                
                            </div>                
                    
                    </div>
                </div>
            </section>

 


        
    

</div>