<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form action="" id="userRegister-entry-form">
                    <h2>Eliminar</h2>
                    <input   type="text"  hidden>

                    <input type="text" autocomplete="off" name="idRateTypeUpdate" id="idRateTypeUpdate" hidden>

                    <input [(ngModel)]="userData.TC_Identificacion" type="text" autocomplete="off" name="name_Identification" id="identification" class="form-control rounded-left" placeholder="Identificacion" disabled required="">


                    <input [(ngModel)]="userData.TC_Nombre" type="text" autocomplete="off" name="name_Admin" id="name_Admin" class="form-control rounded-left" placeholder="Nombre" disabled required="">

                    <input [(ngModel)]="userData.TC_PrimerApellido" type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" disabled placeholder="Primer apellido" required="">

                    <input [(ngModel)]="userData.TC_SegundoApellido" type="text" autocomplete="off" name="lastName_Admin" id="lastName_Admin" class="form-control rounded-left" disabled placeholder="Segundo apellido" required="">

                    <input [(ngModel)]="userData.TC_Correo" type="email" autocomplete="off" name="email_Admin" id="email_Admin" class="form-control rounded-left" disabled placeholder="Correo electronico" required="">

                    <select   [(ngModel)]="userData.FK_SISCOA_Oficina_SISCOA_Usuario"   class="form-control rounded-left" name="role_Admin2" id="role_Admin2" disabled>
                        <option value=0 selected>Seleciona una oficina</option>
                        <option [value]="s.ID" *ngFor="let s of dataOffice">{{s.TC_Nombre}}</option>
                    </select>
                    
                    <select  [(ngModel)]="userData.FK_SISCOA_Rol_SISCOA_Usuario" class="form-control rounded-left" name="ghf" id="fgh" disabled>
                        <option value=0 selected>Seleciona un rol</option>
                        <option [value]="item.ID" *ngFor="let item of roleData">{{item.TC_Nombre}}</option>
                    </select>
                  
                    <button class="submit-btn form-control" (click)="delete();">Eliminar</button>

                    <button routerLink="/listUser" class="submit-btn form-control" >Cancelar</button>
                </form>

            </div>
        </div>
        
    </div>

    <div class="example-button-container">
      
        </div>
</section>

