<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div  class="entry-formRate">
                <form *ngIf="officeDataupdate" action="" id="userRegister-entry-form">
                    <h2>Actualizar</h2>
                    <input   type="text"  hidden>

                    <input [(ngModel)]="officeDataupdate.TC_Nombre" placeholder="Nombre" type ="text" autocomplete="off" name="name_office" id="name_office" class="form-control rounded-left" required="">

                    <input  type="text" autocomplete="off" name="office_code" id="office_code" class="form-control rounded-left" [(ngModel)]="officeDataupdate.TC_CodigoOficina" placeholder="Codigo" required="">

                    <input  type="text" autocomplete="off" name="office_institution" id="office_institution" class="form-control rounded-left" [(ngModel)]="officeDataupdate.TC_Institucion" placeholder="Institucion" required="">

                    <button class="submit-btn form-control" (click)="update()" >Actualizar</button>

                    <button routerLink="/officeList/{{userData.ID}}" class="submit-btn form-control" >Cancelar</button>
                    
                </form>

            </div>
        </div>
        
    </div>
    <div class="example-button-container">
      
        </div>
</section>