<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form *ngIf="statusData" id="userRegister-entry-form">
                    <h2>Observar estado</h2>
                    <br>
                    <label for="name">Nombre</label>
                    <input  [(ngModel)]="statusData.TC_Nombre"  type="text" autocomplete="off" name="name" id="name" class="form-control rounded-left" placeholder="Nombre" required="">

                    <div class="d-flex justify-content-around">

                    <button routerLink="/conditionList" class="submit-btn form-control" >Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
         
    </div>
    <div class="example-button-container">
      
        </div>
</section>
