<app-navbar> </app-navbar>

<section>
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <h2 class="section-heading text-uppercase">Estado </h2>
            <br>
            <br>
            <br>
            
            <div class="form-group" >
            <H5>Buscar</H5> 
            <input>
            </div>
            
        </div>
        <div class="addButton">
            <button type="button" class="btn btn-secondary" routerLink="/conditionRegister"  >+</button>
          </div>
          <br>
          <br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr >
                      <td scope="row">Administrador </td>
                     
                      <td>      
                        <div class="example-button-row">
                        <div class="example-button-container">
                            <button mat-fab color="primary" routerLink="/conditionUpdate"  aria-label="Example icon button with a delete icon">
                                <mat-icon>update</mat-icon> 
                               </button>     
                            <button mat-fab color="warn" routerLink="/conditionDelete" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>     
                            </button> 
                        </div>    
                         
                      </div></td>

                            </tr>
                         </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
