<app-navbar> </app-navbar>

<section>
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <h2 class="section-heading text-uppercase">Errores del sistema</h2>
            <br>
            <br>
            <br>
            
            <div class="form-group" >
            <H5>Buscar</H5> 
            <input>
            </div>
            
        </div>

          <br>
          <br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Causa
                                </th>
                                <th>
                                    Usuario
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr >
                 

                            </tr>
                         </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
