<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
  <div class="container">
    <div class="col-md-offset-1 col-md-6 col-sm-12" id="log">
      <br />
      <br />
      <br />
      <div class="entry-formRate">
        <form 
        [formGroup]="officeForm"
        (ngSubmit)="add()"
        id="officeRegister-entry-form">
          <div class="m-2">
            <h2>Registar oficina</h2>
            <div class="mt-4">
              <div class="d-flex justify-content-around">
                <div>
                    <label for="TC_Nombre">Nombre</label>
                  <input
                  formControlName="TC_Nombre"
                    [(ngModel)]="officeData.TC_Nombre"
                    nombre="ngModel"
                    type="text"
                    autocomplete="off"
                    name="name_office"
                    id="TC_Nombre"
                    class="form-control rounded-left"
                    placeholder="Nombre"
                    required="true"
                  />
                </div>
                
                
             
                <div>
                    <label for="TC_CodigoOficina">Codigo</label>
                  <input
                  formControlName="TC_CodigoOficina"
                    [(ngModel)]="officeData.TC_CodigoOficina"
                    type="text"
                    autocomplete="off"
                    name="TC_CodigoOficina"
                    id="TC_CodigoOficina"
                    class="form-control rounded-left"
                    placeholder="Codigo"
                    required="true"
                  />  
                </div>
              </div>
              <div class="d-flex justify-content-around">
              <div>  
                <label for="TC_Institucion">Institucion</label>
              <input
              formControlName="TC_Institucion"
                [(ngModel)]="officeData.TC_Institucion"
                type="text"
                autocomplete="off"
                name="TC_Institucion"
                id="TC_Institucion"
                class="form-control rounded-left"
                placeholder="Institucion"
                required="true"
              />
              </div>
              
             </div>
             <div class="d-flex justify-content-around">
              <button
                class="submit-btn form-control"
                type="submit"        
              >
                Añadir
              </button>

              <button routerLink="/officeList" class="submit-btn form-control">
                Cancelar
              </button>
            </div>
            <br>
            <div class="d-flex justify-content-around">
           
          </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="example-button-container"></div>
</section>
