<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
  <div class="container">
    <div class="col-md-offset-1 col-md-8 col-sm-8" id="log">
      <br />
      <br />
      <br />
      <div class="entry-formRate">
        <form action="" id="userRegister-entry-form">
          <div class="m-2">
            <h2>Actualizar el usuario</h2>
            <div class="mt-4">
              <div class="d-flex justify-content-around">
                <div>
                  <label for="identificationId">Identificacion</label>
                  <input
                    [(ngModel)]="userData.TC_Identificacion"
                    type="text"
                    autocomplete="off"
                    name="name_Identification"
                    id="identificationId"
                    class="form-control rounded-left"
                    placeholder="Identificacion"
                    required=""
                  />
                </div>
                <div>
                  <label for="name">Nombre</label>
                  <input
                    [(ngModel)]="userData.TC_Nombre"
                    type="text"
                    autocomplete="off"
                    name="name_Admin"
                    id="name"
                    class="form-control rounded-left"
                    placeholder="Nombre"
                    required=""
                  />
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <label for="lastName">Primer apellido</label>
                  <input
                    [(ngModel)]="userData.TC_PrimerApellido"
                    type="text"
                    autocomplete="off"
                    name="lastName"
                    id="lastName"
                    class="form-control rounded-left"
                    placeholder="Primer apellido"
                    required=""
                  />
                </div>
                <div>
                  <label for="lastNameUser">Segundo apellido</label>
                  <input
                    [(ngModel)]="userData.TC_SegundoApellido"
                    type="text"
                    autocomplete="off"
                    name="lastNameUser"
                    id="lastNameUser"
                    class="form-control rounded-left"
                    placeholder="Segundo apellido"
                    required=""
                  />
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <label for="email">Email</label>
                  <input
                    [(ngModel)]="userData.TC_Correo"
                    type="email"
                    autocomplete="off"
                    name="email"
                    id="email"
                    class="form-control rounded-left"
                    placeholder="Correo electronico"
                    required=""
                  />
                </div>
                <div>
                  <label for="password">Contraseña</label>
                  <input
                    [(ngModel)]="userData.TV_Contrasenna"
                    type="password"
                    autocomplete="off"
                    name="password"
                    id="password"
                    class="form-control rounded-left"
                    placeholder="Contraseña"
                    required=""
                  />
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                    <label for="oficina">Oficina</label>
                  <select
                    [(ngModel)]="userData.FK_SISCOA_Oficina_SISCOA_Usuario"
                    class="form-control rounded-left"
                    name="oficina"
                    id="oficina"
                  >
                    <option value="0" selected>Seleciona una oficina</option>
                    <option [value]="s.ID" *ngFor="let s of dataOffice">
                      {{ s.TC_Nombre }}
                    </option>
                  </select>
                </div>
                <div>
                    <label for="Rol">Rol</label>
                  <select
                    [(ngModel)]="userData.FK_SISCOA_Rol_SISCOA_Usuario"
                    class="form-control rounded-left"
                    name="Rol"
                    id="Rol"
                  >
                    <option value="0" selected>Seleciona un rol</option>
                    <option [value]="item.ID" *ngFor="let item of roleData">
                      {{ item.TC_Nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-around">
              <button class="submit-btn form-control" (click)="Update()">
                Actualizar
              </button>

              <button routerLink="/listUser" class="submit-btn form-control">
                Cancelar
              </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="example-button-container"></div>
</section>
