<app-natvar-supervisores> </app-natvar-supervisores>
 
<div class="containerGraphics">
  <div class="graphic">
    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="datosprueba" [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
    <div class="wrapperButton">
      <button class="myB">
        Controles por estado
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <div class="graphic">
    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="dataWithSlopes"
      [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
    <div class="wrapperButton">
      <button routerLink="/BySlopSup" class="myB">
        Controles pendiente por mes
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <div mat-elevation-z8 class="graphic">
    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="dataWithDay" [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
    <div class="wrapperButton">
      <button routerLink="/controlExtraDay" class="myB">
        Controles que se le asignaron dias extras
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>