<app-navbar> </app-navbar>

<section class="page-section" id="adminRegister">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <br>
            <br>
            <br>
            <div class="entry-formRate">
                <form action="" id="userRegister-entry-form">
                    <h2>Eliminar</h2>
                    <input   type="text"  hidden>

                    <input [(ngModel)]="officeDataDelete.TC_Nombre" type="text" autocomplete="off" name="office_name" id="office_name" class="form-control rounded-left" placeholder="Nombre" required="" disabled>

                    <input [(ngModel)]="officeDataDelete.TC_CodigoOficina" type="text" autocomplete="off" name="office_code" id="office_code" class="form-control rounded-left" placeholder="Codigo" required="" disabled>

                    <input  [(ngModel)]="officeDataDelete.TC_Institucion"  type="text" autocomplete="off" name="office_institution" id="office_institution" class="form-control rounded-left" placeholder="Institucion" required="" disabled="">

                    <button class="submit-btn form-control" (click)="delete()">Eliminar</button>
                    
                    <button routerLink="/officeList/{{userData.ID}}" class="submit-btn form-control">Cancelar</button>
                    
                </form>

            </div>
        </div>
        
    </div>
    <div class="example-button-container">
      
        </div>
</section>
