<app-navbar> </app-navbar>

<section>
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <h2 class="section-heading text-uppercase">Control </h2>
            <br>
            <br>
            <br>
            
            <div class="form-group" >
            <H5>Buscar</H5> 
            <input>
            </div>
            
        </div>
          <br>
          <br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Periodo
                                </th>
                          
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Notificacion
                                </th>
                         
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr >
                      <td scope="row">Asistencia </td>
                      <td scope="row">Asistencia en la oficina</td>
                      <td scope="row">Octubre</td>
                      <td scope="row">Asignado </td>
                      <td scope="row">si</td>
                      
                     
                      <td>      
                        <div class="example-button-row">
                        <div class="example-button-container">
                            <button mat-fab color="primary" routerLink="/completeControlFile"  aria-label="Example icon button with a delete icon">
                               Completar
                               </button>     
                         
                        </div>    
                         
                      </div></td>

                            </tr>
                         </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
