<app-natvar-supervisores> </app-natvar-supervisores>
    <br>

    <div class="container">
        <div class="text-center">
      
            <div class="wrapperButton">
                  <button  routerLink="/addoffice" class="myB">
                    Agregar controles 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </div>
          
                <div class="wrapperButton2">
                  <button  routerLink="/officeControl" class="myB">
                    Gestionar controles 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </div>         
                  </div>

                  <div class="wrapperButton3">
                    <button  routerLink="/controlOfice" class="myB">
                      Controles de la oficina
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>         
                    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         
       
    
    
   